{% extends 'index.html' %}
{% load static %}
{%  block page %}
{% load i18n %}


    <div class="page-heading text-center">

        <div class="container zoomIn animated">

            <h1 class="page-title">{% trans "О нас" %}<span class="title-under"></span></h1>


        </div>

    </div>


    <div class="main-container">

        <div class="container">

            <div class="row fadeIn animated">
                {% for ab in about%}

                <div class="col-md-6">

                    <img src="{{ab.image.url}}" alt="" class="img-responsive">

                </div>


                <div class="col-md-6">

                    <h2 class="title-style-2">Jardam Group <span class="title-under"></span></h2>
                    <p>
                        {{ab.text|safe}}
                    </p>


                </div>
                {% endfor %}

            </div> <!-- /.row -->

            <div class="section-home about-us">


                <div class="row">

                    <div class="col-md-3 col-sm-6">

                        <div class="about-us-col">

                            <div class="col-icon-wrapper">
                                <img src="{% static 'images/icons/our-mission-icon.png' %}" alt="">
                            </div>
                            <h3 class="col-title">{% trans "Выполняем миссии" %}</h3>


                        </div>

                    </div>


                    <div class="col-md-3 col-sm-6">

                        <div class="about-us-col">

                            <div class="col-icon-wrapper">
                                <img src="{% static 'images/icons/make-donation-icon.png' %}" alt="">
                            </div>
                            <h3 class="col-title">{% trans "Делай добро" %}</h3>


                        </div>

                    </div>


                    <div class="col-md-3 col-sm-6">

                        <div class="about-us-col">

                            <div class="col-icon-wrapper">
                                <img src="{% static 'images/icons/help-icon.png' %}" alt="">
                            </div>
                            <h3 class="col-title">{% trans "Помощь и поддержка" %}</h3>


                        </div>

                    </div>


                    <div class="col-md-3 col-sm-6">

                        <div class="about-us-col">

                            <div class="col-icon-wrapper">
                                <img src="{% static 'images/icons/programs-icon.png' %}" alt="">
                            </div>
                            <h3 class="col-title">{% trans "Спасаем жизни" %}</h3>


                        </div>

                    </div>



                </div> <!-- /.row -->


            </div>

        </div> <!-- /.about-us -->








    </div>

  {% endblock %}