{% extends 'index.html' %}
{% load static %}
{%  block page %}
{% load i18n %}

	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">{{ case.title }}<span class="title-under"></span></h1>
			<p class="page-description">
				{{ case.description_title }}
			</p>
			
		</div>

	</div>

	<div class="main-container">

		<div class="container">

			<div class="row">


				<div class="col-md-12 fadeIn animated">

					<div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
						    <li data-target="#cause-carousel" data-slide-to="1"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <!-- HTML-разметка для карусели -->
<!-- HTML-разметка для карусели -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img src="{{case.image_slider_1.url}}" alt="">
  </div>
  <div class="item">
    <img src="{{case.image_slider_2.url}}" alt="">
  </div>
</div>

<!-- Кнопки для управления каруселью -->
<button class="carousel-prev">Предыдущий</button>
<button class="carousel-next">Следующий</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Обработчик щелчка на кнопку "Предыдущий"
  $(".carousel-prev").click(function() {
    var currentSlide = $(".carousel-inner .item.active");
    var prevSlide = currentSlide.prev();

    if (prevSlide.length === 0) {
      // Если предыдущего слайда нет, переключаемся к последнему слайду
      prevSlide = $(".carousel-inner .item:last");
    }

    currentSlide.removeClass("active");
    prevSlide.addClass("active");
  });

  // Обработчик щелчка на кнопку "Следующий"
  $(".carousel-next").click(function() {
    var currentSlide = $(".carousel-inner .item.active");
    var nextSlide = currentSlide.next();

    if (nextSlide.length === 0) {
      // Если следующего слайда нет, переключаемся к первому слайду
      nextSlide = $(".carousel-inner .item:first");
    }

    currentSlide.removeClass("active");
    nextSlide.addClass("active");
  });
});
</script>

					</div>

				</div>

			</div>

			<div class="row fadeIn animated">

				<div class="col-md-6">

					<h2 class="title-style-2">{{ case.description_title }}<span class="title-under"></span></h2>

					<p>
						{{ case.description_full}}
					</p>

				</div>


			</div>

			<div class="row ">

				<div class="col-md-12 fadeIn animate-onscroll">

					<h2 class="title-style-2"> Как помочь? <span class="title-under"></span></h2>

					
						<div role="tabpanel">

							  <!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Адресс</a></li>
							    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Контакты</a></li>
							    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Реквизиты</a></li>
							  </ul>

							  <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="home">
							    	{{ case.address}}</div>
							    <div role="tabpanel" class="tab-pane" id="profile">
							    	{{ case.contact}}</div>
							    <div role="tabpanel" class="tab-pane" id="messages">
							    	{{ case.requisites}}</div>
							  </div>

						</div>

						<p></p>
					

				</div>




			</div>

		</div>






	</div> <!-- /.main-container  -->


  {% endblock %}