{% extends 'index.html' %}
{% load static %}
{% block page %}
{% load i18n %}

    <div class="page-heading text-center">

        <div class="container zoomIn animated">

            <h1 class="page-title">{% trans "Они нуждаются" %} <span class="title-under"></span></h1>

        </div>

    </div>

    <div class="main-container">

        <div class="our-causes fadeIn animated">

            <div class="container">

                <h2 class="title-style-1">{% trans "Ты можешь помочь им!" %} <span class="title-under"></span></h2>

                <div class="row">

                    {% for case in cases %}
                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{{ case.image_title.url }}" alt="" class="cause-img">



                            <div class="progress cause-progress">
                                <p>{{case.created_at}}</p>
                            </div>

                            <h4 class="cause-title"><a href="#">{{case.title}} </a></h4>
                            <div class="cause-details">
                                {{case.text}}
                            </div>

                            <div class="btn-holder text-center">
									<a href="{% url 'case_details' case_id=case.id %}" class="btn btn-primary">{% trans "Подробнее" %}</a>
                            </div>



                        </div> <!-- /.cause -->
                    {% endfor %}
                    </div>



                </div>

            </div>

        </div> <!-- /.our-causes -->




    </div> <!-- /.main-container  -->

{% endblock %}
