{% extends 'index.html' %}
{% load static %}
{% block page %}
{% load i18n %}

    <div class="page-heading text-center">

        <div class="container zoomIn animated">

            <h1 class="page-title">OUR CAUSES <span class="title-under"></span></h1>
            <p class="page-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.
            </p>

        </div>

    </div>

    <div class="main-container">

        <div class="our-causes fadeIn animated">

            <div class="container">

                <h2 class="title-style-1">Our Causes <span class="title-under"></span></h2>

                <div class="row">


                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-hunger.jpg' %}" alt="" class="cause-img">



                            <div class="progress cause-progress">
                                <p>12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">HUNGER AND POVERTY </a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-education.jpg' %}" alt="" class="cause-img">

                            <div class="progress cause-progress">
                                <p>создано 12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">EDUCATION AND TRAINING</a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>


                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-rights.jpg' %}" alt="" class="cause-img">

                            <div class="progress cause-progress">
                                <p>создано 12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">HUMAN RIGHTS</a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-culture.jpg' %}" alt="" class="cause-img">

                            <div class="progress cause-progress">
                                <p>создано 12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">ARTS AND CULTURE </a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>



                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-hunger.jpg' %}" alt="" class="cause-img">

                            <div class="progress cause-progress">
                                <p>создано 12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">HUNGER AND POVERTY </a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-education.jpg' %}" alt="" class="cause-img">

                            <div class="progress cause-progress">
                                <p>создано 12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">EDUCATION AND TRAINING</a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>


                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-rights.jpg' %}" alt="" class="cause-img">

                            <div class="progress cause-progress">
                                <p>создано 12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">HUMAN RIGHTS</a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>

                    <div class="col-md-3 col-sm-6">

                        <div class="cause">

                            <img src="{% static 'images/causes/cause-culture.jpg' %}" alt="" class="cause-img">

                            <div class="progress cause-progress">
                                <p>создано 12.12.2012</p>
                            </div>

                            <h4 class="cause-title"><a href="#">ARTS AND CULTURE </a></h4>
                            <div class="cause-details">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at eros rutrum turpis
                                viverra elementum semper quis ex. Donec lorem nulla, aliquam quis neque vel, maximus
                                lacinia urna.
                            </div>

                            <div class="btn-holder text-center">

                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#donateModal">
                                    DONATE NOW</a>

                            </div>



                        </div> <!-- /.cause -->

                    </div>


                </div>

            </div>

        </div> <!-- /.our-causes -->




    </div> <!-- /.main-container  -->

{% endblock %}
