{% extends 'index.html' %}
{% load static %}
{% block page %}
{% load i18n %}


	<div class="page-heading text-center">

		<div class="container zoomIn animated">

			<h1 class="page-title">{% trans "Галерея"%} <span class="title-under"></span></h1>


		</div>

	</div>

	<div class="main-container">

		<div class="container gallery fadeIn animated">

			<div class="row">


					{% for i1 in images1%}
					<a href="{{i1.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i1.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
					{% endfor%}

				    {% for i2 in images2 %}

					<a href="{{i2.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i2.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				   {% for i3 in images3 %}

					<a href="{{i3.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i3.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				   {% for i4 in images4 %}


					<a href="{{i4.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i4.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				    {% endfor%}

				    {% for i5 in images5 %}

					<a href="{{i5.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i5.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->

				   {% endfor%}

				   {% for i6 in images6 %}

					<a href="{{i6.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i6.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				   {% for i7 in images7 %}

					<a href="{{i7.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i7.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				   {% for i8 in images8 %}

					<a href="{{i8.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i8.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				   {% for i9 in images9 %}

					<a href="{{i9.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i9.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				   {% for i10 in images10 %}

					<a href="{{i10.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i10.image.url}}" alt="">
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				    {% for i11 in images11 %}

					<a href="{{i11.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i11.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}

				   {% for i12 in images12 %}

					<a href="{{i12.image.url}}" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="{{i12.image.url}}" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->
				   {% endfor%}


			</div>

		</div>


	</div> <!-- /.main-container  -->


{% endblock %}